/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@theme {
  --color-primary: oklch(57.75% 0.115 160.3);
  --color-primary-50: oklch(95.83% 0.0125 164.8);
  --color-primary-100: oklch(91.39% 0.0238 169.9);
}

@import 'ngx-toastr/toastr';

@import './styles/daisy-ui.css';
@import './styles/font.css';
@import './styles/tailwind.css';
@import './styles/scroll.css';
@import './styles/animations.css';

* {
  letter-spacing: -0.04em !important;
  outline: none;
}

/* details 화살표 제거 */
summary::-webkit-details-marker {
  display: none;
}
summary {
  list-style-type: none;
}

/* button cursor */
button {
  cursor: pointer;
}

.count {
  @apply text-gray-800 font-medium;
}

.count span {
  @apply text-primary;
}

:root {
  --color-primary: #288e5b;
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

* {
  scrollbar-width: none; /* Firefox */
}
