<main>
    <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-6">
        <app-accordion label="1:1문의 답변">
            <section class="flex flex-col h-full gap-4">
                <div class="flex items-center justify-between w-full">
                    <div class="flex items-center gap-3">
                        <div
                            [ngClass]="inquiry()?.answeredAt ? 'bg-primary' : 'bg-gray-400'"
                            class="px-2 py-1 text-sm text-white rounded-md select-none min-w-max"
                        >
                            {{ inquiry()?.answeredAt ? '답변 완료' : '답변 대기' }}
                        </div>

                        <h5 text class="theme-text text-xl font-semibold break-all">
                            {{ inquiry()?.title }}
                        </h5>
                    </div>
                </div>

                <p text class="theme-text break-all whitespace-pre-line min-h-[10rem]">
                    {{ inquiry()?.content }}
                </p>

                <app-fieldset label="답변" required>
                    <textarea class="textarea" formControlName="answer" placeholder="답변을 입력해 주세요."></textarea>
                </app-fieldset>
            </section>
        </app-accordion>
        <div class="flex w-full justify-between items-center">
            <button [routerLink]="['/inquiry', id()]" class="btn btn-primary">이전</button>
            <button (click)="submit($event)" [disabled]="invalid()!" type="submit" class="btn btn-primary">전송</button>
        </div>
    </form>
</main>
