<aside class="flex flex-col gap-3 select-none" [class]="dialogRef ? 'w-screen h-screen justify-end' : ''">
    <h4 class="hidden sm:block text-center">입찰 공고</h4>
    <div class="flex flex-col bg-gray-50 border-t-2 h-full">
        <section>
            <p>검색어</p>
            <input
                type="text"
                class="input w-full"
                [ngModel]="store.query()"
                (input)="updateValue(store.query, $event)"
                placeholder="검색어를 입력해 주세요."
            />
        </section>

        <section>
            <div class="flex justify-between items-center">
                <p>키워드</p>
                <label class="label">
                    <input type="checkbox" class="toggle toggle-primary" [(ngModel)]="store.advancedKeywords" />
                    <span [class.text-primary]="store.advancedKeywords()">고급검색</span>
                </label>
            </div>
            @if (!store.advancedKeywords()) {
                <app-input-keyword [(ngModel)]="store.keywords" />
            } @else {
                <fieldset class="fieldset">
                    <legend class="fieldset-legend text-sm">다음 단어를 모두 포함</legend>
                    <app-input-keyword [(ngModel)]="store.andKeywords" />
                </fieldset>
                <fieldset class="fieldset">
                    <legend class="fieldset-legend text-sm">다음 단어 중 하나라도 포함</legend>
                    <app-input-keyword [(ngModel)]="store.orKeywords" />
                </fieldset>
                <fieldset class="fieldset">
                    <legend class="fieldset-legend text-sm">다음 단어가 들어간 결과 제외</legend>
                    <app-input-keyword [(ngModel)]="store.notKeywords" />
                </fieldset>
            }
        </section>

        <section>
            <p>입찰개시일시</p>
            <div class="flex items-center gap-2">
                <input type="date" class="input w-full" [(ngModel)]="store['입찰개시일시시작']" [max]="startDateMax()" />
                <span>-</span>
                <input #endDate type="date" class="input w-full" [(ngModel)]="store['입찰개시일시종료']" />
            </div>
            <div class="flex w-full gap-2">
                <button (click)="setDateRange('today')" class="border border-zinc-200 px-5 py-2 flex-1">
                    <span class="text-zinc-500">당일</span>
                </button>
                <button (click)="setDateRange('1w')" class="border border-zinc-200 px-5 py-2 flex-1">
                    <span class="text-zinc-500">1주</span>
                </button>
                <button (click)="setDateRange('1m')" class="border border-zinc-200 px-5 py-2 flex-1">
                    <span class="text-zinc-500">1개월</span>
                </button>
            </div>
        </section>

        <section>
            <p>업무 구분</p>
            <select class="select w-full" [(ngModel)]="store.type">
                <option value="">선택하세요</option>
                <option value="service">용역</option>
                <option value="thing">물품</option>
                <option value="construction">공사</option>
                <option value="foreign">외자</option>
                <option value="etc">기타</option>
            </select>
        </section>

        <section>
            <p>공고기관</p>
            <input
                type="text"
                class="input w-full"
                [ngModel]="store['공고기관']()"
                (input)="updateValue(store['공고기관'], $event)"
                placeholder="공고기관을 입력해 주세요."
            />
        </section>

        <!-- <section>
            <p>수요기관</p>
            <input type="text" class="input w-full" [(ngModel)]="store['수요기관']" placeholder="수요기관을 입력해 주세요." />
        </section> -->

        <section>
            <p>공고 종류</p>
            <select class="select w-full" [(ngModel)]="store['모의공고여부']">
                <option value="false">실공고</option>
                <option value="true">모의공고</option>
            </select>
        </section>

        <section>
            <label class="label flex items-center gap-2">
                <input type="checkbox" class="toggle toggle-primary" [(ngModel)]="store['마감공고포함']" />
                <span class="text-zinc-500">마감 공고 포함</span>
            </label>
        </section>

        <section>
            <p>배정예산</p>
            <div class="flex items-start gap-2">
                <fieldset class="fieldset flex-1">
                    <legend class="fieldset-legend text-sm">시작금액</legend>
                    <label class="input">
                        <input type="text" maxlength="12" placeholder="0" [(ngModel)]="store.budgetStartPrice" />
                        원
                    </label>
                    @if (store.budgetStartPrice() !== '') {
                        <p class="label text-xs">{{ store.budgetStartPrice() | koreanCurrency }}</p>
                    }
                </fieldset>
                <fieldset class="fieldset flex-1">
                    <legend class="fieldset-legend text-sm">종료금액</legend>
                    <label class="input">
                        <input type="text" maxlength="12" placeholder="0" [(ngModel)]="store.budgetEndPrice" />
                        원
                    </label>
                    @if (store.budgetEndPrice() !== '') {
                        <p class="label text-xs">{{ store.budgetEndPrice() | koreanCurrency }}</p>
                    }
                </fieldset>
            </div>
        </section>

        <!-- 데스크탑 -->
        <section class="!hidden sm:!flex">
            <button class="flex items-center justify-center gap-1 border border-gray-200 rounded-xs bg-white py-2" (click)="store.reset()">
                <app-icon name="mdi:reload" />초기화
            </button>
            <button class="bg-primary text-white py-2 rounded-xs">검색</button>
        </section>

        <!-- 모바일 -->
        <footer class="sm:hidden flex p-5 gap-5 fixed bottom-0 w-full">
            <button
                class="flex-1 flex items-center justify-center gap-1 border border-gray-200 rounded-xs bg-white py-2"
                (click)="store.reset()"
            >
                <app-icon name="mdi:reload" />초기화
            </button>
            <button class="flex-1 bg-primary text-white py-2 rounded-xs" (click)="dialogRef?.close()">검색</button>
        </footer>
    </div>
</aside>
