@if (bid$.value(); as bid) {
<div class="container mx-auto flex flex-col gap-8">
    <header class="flex flex-col gap-6">
        <div class="flex items-center cursor-pointer" routerLink="..">
            <app-icon name="mdi:chevron-left" />
            <p class="text-xl font-semibold">목록으로</p>
        </div>

        <div class="flex flex-col gap-3">
            <span class="badge badge-primary badge-soft badge-lg">{{ bid.type }}</span>
            <div class="flex justify-between items-center mb-2">
                <h2>{{ bid['입찰공고명'] }}</h2>
                <button class="btn btn-primary" (click)="keywordModal.showModal()">
                    <app-icon name="mdi:pencil" />
                    키워드 변경
                </button>
            </div>
            <span class="flex gap-1 flex-wrap items-center">
                @for (keyword of bid.keywords; track keyword) {
                <span class="badge badge-soft">{{ keyword }}</span>
                } @empty {
                -
                }
            </span>
        </div>
    </header>

    <section class="fields">
        <legend>공고종류</legend>
        <span>{{ bid['공고종류명'] }}</span>
        <legend>공고일시</legend>
        <span>{{ bid['입찰공고일시'] | date: 'y-MM-dd HH:mm:ss' }}</span>
        <legend>입찰공고번호</legend>
        <span>{{ bid['통합공고번호'] }}</span>
        <legend>공고기관</legend>
        <span>{{ bid['공고기관명'] }}</span>
        <legend>수요기관</legend>
        <span>{{ bid['수요기관명'] }}</span>
        <legend>계약방법</legend>
        <span>{{ bid['계약체결방법명'] }}</span>
        <legend>국제입찰구분</legend>
        <span>{{ bid['국제입찰여부'] ? '국제' : '국내' }}</span>
        <legend>입찰방법</legend>
        <span>{{ bid['입찰방식명'] }}</span>
        <legend>낙찰방법</legend>
        <span>{{ bid['낙찰방법명'] }}</span>
        <legend>공고서</legend>
        @if (bid['표준공고서URL']; as url) {
        <a class="link link-info" [href]="url"> 다운로드</a>
        } @else {
        <span>-</span>
        }
        <legend>재입찰</legend>
        <span>{{ bid['재입찰허용여부'] ? '가능' : '불가' }}</span>
        <legend>채권자명</legend>
        <span>{{ bid['채권자명'] }}</span>
    </section>

    <section class="fields">
        <h3>입찰정보</h3>
        <legend>입찰서접수 개시일시</legend>
        <span>{{ bid['입찰개시일시'] | date: 'y-MM-dd HH:mm:ss' }}</span>
        <legend>입찰서접수 마감일시</legend>
        <span>{{ bid['입찰마감일시'] | date: 'y-MM-dd HH:mm:ss' }}</span>
        <legend>개찰일시</legend>
        <span>{{ bid['개찰일시'] | date: 'y-MM-dd HH:mm:ss' }}</span>
        <legend>입찰참가자격 등록마감일시</legend>
        <span>{{ bid['입찰참가자격등록마감일시'] | date: 'y-MM-dd HH:mm:ss' }}</span>
        <legend>공동수급협정서 마감일시</legend>
        <span>{{ bid['공동수급협정마감일시'] | date: 'y-MM-dd HH:mm:ss' }}</span>
        @if ($any(bid)['공동수급구성방식명']) {
        <legend>공동수급협정서 구성방식</legend>
        <span>{{ $any(bid)['공동수급구성방식명'] }}</span>
        }
        <legend>개찰장소</legend>
        <span>{{ bid['개찰장소'] }}</span>
    </section>

    <section class="fields">
        <h3>관련금액</h3>
        @if ($any(bid)['배정예산금액']) {
        <legend>배정예산</legend>
        <span>{{ $any(bid)['배정예산금액'] | number }}원</span>
        }
        @if ($any(bid)['추정예산']) {
        <legend>추정예산</legend>
        <span>{{ $any(bid)['추정예산'] | number }}원</span>
        }
        @if ($any(bid)['부가가치세']) {
        <legend>부가가치세</legend>
        <span>{{ $any(bid)['부가가치세'] | number }}원</span>
        }
    </section>
</div>

<dialog #keywordModal class="modal">
    <form method="dialog" class="modal-box">
        <h3 class="font-bold text-lg mb-4">키워드 변경</h3>

        <div role="alert" class="alert alert-info alert-soft">
            <span>쉼표 (,)로 구분하세요.</span>
        </div>
        <input #inputRef type="text" placeholder="키워드 입력" class="input input-bordered w-full mt-4"
            [value]="bid.keywords.join(', ')" />

        <div class="modal-action">
            <button type="button" class="btn" (click)="keywordModal.close()">취소</button>
            <button class="btn btn-primary" (click)="submit(inputRef.value); keywordModal.close()">변경</button>
        </div>
    </form>
</dialog>
}