details {
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  max-height: 60px;
}
details[open] {
  max-height: 1000px;
}

summary::-webkit-details-marker {
  display: none;
}
.arrow {
  transition: transform 0.3s;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  transform: rotate(135deg);
}
details[open] .arrow {
  transform: rotate(315deg);
}
