<div class="flex flex-col items-center justify-center min-h-screen gap-6 sm:gap-10 text-center md:p-0 px-4 my-10">
    <div class="flex flex-col text-primary font-bold text-xl md:text-2xl gap-2 md:gap-4">
        <span>입찰의 복잡함을 단 한번의 클릭으로</span>
        <span>AI가 먼저 읽고 분석하는 지능형 공공입찰 플랫폼 Biddly (비들리)</span>
    </div>

    <div class="flex flex-col gap-2 text-gray-800 font-medium text-base md:text-lg">
        <span>나라장터(G2B), 조달청, 학교장터(S2B) 등 주요 사이트의 공고를 실시간으로 분석해</span>
        <span>기업이 복잡한 규격서와 기술요구사항을 쉽고 빠르게 파악할 수 있도록 돕습니다.</span>
        <span>AI가 불합리한 조항을 자동 탐지하고, 첨부문서를 핵심 내용만 요약해 제공합니다.</span>
        <span>비들리는 중소기업과 스타트업이 공정하게 경쟁할 수 있는 지능형 조달 생태계를 만들어갑니다.</span>
    </div>

    <div class="flex flex-col gap-2 text-gray-800 font-medium text-base md:text-lg">
        <span><span class="text-primary">Biddly</span>는 중소기업과 스타트업이 공정하게 경쟁 할 수 있는</span>
        <span>지능형 조달 생태계를 만들어갑니다.</span>
    </div>

    <div class="flex flex-col justify-center items-center gap-10">
        <img src="images/introduce.png" alt="introduce" class="w-[923px] h-[608px]" />
        <img src="icons/introduce-logo.svg" alt="introduce-logo" class="w-[454px]" />
    </div>
</div>
