<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<form [formGroup]="passwordForm" class="flex flex-col gap-8">
    <div>
        <p class="hidden lg:block text-zinc-800 text-lg font-semibold">비밀번호 정보</p>
        <div class="hidden lg:block border border-zinc-800 my-3"></div>
        <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-2">
                <label class="flex items-center font-semibold gap-1"
                    >현재 비밀번호<span class="size-2 rounded-full bg-primary"></span
                ></label>
                <input
                    formControlName="oldPassword"
                    type="password"
                    placeholder="비밀번호를 입력해주세요."
                    class="w-full input text-zinc-800 placeholder:text-zinc-400"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="flex items-center font-semibold gap-1">새 비밀번호<span class="size-2 rounded-full bg-primary"></span></label>
                <input
                    formControlName="password"
                    type="password"
                    placeholder="새 비밀번호를 입력해주세요."
                    class="w-full input text-zinc-800 placeholder:text-zinc-400"
                />
            </div>
            <div class="flex flex-col gap-2">
                <label class="flex items-center font-semibold gap-1"
                    >새 비밀번호 확인<span class="size-2 rounded-full bg-primary"></span
                ></label>
                <input
                    formControlName="confirmedPassword"
                    type="password"
                    placeholder="다시 새 비밀번호를 입력해주세요."
                    class="w-full input text-zinc-800 placeholder:text-zinc-400"
                />
            </div>
        </div>
    </div>

    <div class="flex gap-2">
        <button class="border border-zinc-200 rounded-sm py-2 w-full lg:w-1/2 text-zinc-600">이전</button>
        <button
            [disabled]="passwordForm.invalid"
            (click)="onSubmitPassword($event)"
            class="border text-white bg-primary rounded-sm py-2 w-full lg:w-1/2"
            [class.cursor-not-allowed]="passwordForm.invalid"
            [class.pointer-events-none]="passwordForm.invalid"
            [class.text-zinc-400]="passwordForm.invalid"
            [class.bg-zinc-200]="passwordForm.invalid"
        >
            수정
        </button>
    </div>
</form>
