@if (orderPlan$.value(); as orderPlan) {
    <div class="container mx-auto flex flex-col gap-8">
        <header class="flex flex-col gap-6">
            <div class="flex items-center cursor-pointer" routerLink="..">
                <app-icon name="mdi:chevron-left" />
                <p class="text-xl font-semibold">목록으로</p>
            </div>

            <div class="flex flex-col gap-3">
                <span class="badge badge-primary badge-soft badge-lg">{{ orderPlan['업무구분명'] }}</span>
                <div class="flex justify-between items-center mb-2">
                    <h2>{{ orderPlan['사업명'] }}</h2>
                    <button class="btn btn-primary" (click)="keywordModal.showModal()">
                        <app-icon name="mdi:pencil" />
                        키워드 변경
                    </button>
                </div>
                <span class="flex gap-1 flex-wrap items-center">
                    @for (keyword of orderPlan.keywords; track keyword) {
                        <span class="badge badge-soft">{{ keyword }}</span>
                    } @empty {
                        -
                    }
                </span>
            </div>
        </header>

        <section class="fields">
            <legend>업무 구분</legend>
            <span>{{ orderPlan['업무구분명'] }}</span>
            <legend>발주계획번호</legend>
            <span>{{ orderPlan['발주계획통합번호'] }}</span>
            <legend>공개일시</legend>
            <span>{{ orderPlan['게시일시'] | date: 'y-MM-dd HH:mm:ss' }}</span>
            <legend>발주기관</legend>
            <span>{{ orderPlan['발주기관명'] }}</span>
            <legend>발주시기</legend>
            @if (orderPlan['발주년도'] && orderPlan['발주월']) {
                <span>{{ orderPlan['발주년도'] }}/{{ orderPlan['발주월'] }}</span>
            } @else {
                <span>-</span>
            }
            @if ($any(orderPlan)['공종']; as data) {
                <legend>공종</legend>
                <span>{{ data }}</span>
            }
            <legend>협정여부</legend>
            <span>{{ orderPlan['협정여부'] ? '해당없음' : '해당있음' }}</span>
            @if ($any(orderPlan)['공사지역명']; as data) {
                <legend>공사지역</legend>
                <span>{{ data }}</span>
            }
            <legend>계약방법</legend>
            <span>{{ orderPlan['계약방법명'] }}</span>
        </section>

        @if (orderPlan['업무구분명'] === '공사') {
            <section class="fields">
                <h3>공사규모</h3>

                <legend>발주도급금액</legend>
                <span>{{ orderPlan['발주도급금액'] | number }}원</span>
                <legend>발주관급자재비</legend>
                <span>{{ orderPlan['발주관급자재비'] | number }}원</span>
                <legend>발주기타금액</legend>
                <span>{{ orderPlan['발주기타금액'] | number }}원</span>
                <legend>발주합계금액</legend>
                <span>{{ orderPlan['합계발주금액'] | number }}원</span>
                <legend>발주금차도급금액</legend>
                <span>{{ orderPlan['발주금차도급금액'] | number }}원</span>
                <legend>발주국고보조금액</legend>
                <span>{{ orderPlan['발주국고보조금액'] | number }}원</span>
            </section>
        }

        @if (orderPlan['업무구분명'] === '용역') {
            <section class="fields">
                <h3>용역규모</h3>

                <legend>예산액</legend>
                <span>{{ orderPlan['합계발주금액'] | number }}원</span>
            </section>
        }

        @if (orderPlan['업무구분명'] === '물품') {
            <section class="fields">
                <h3>구매계획 정보</h3>

                <legend>예산액</legend>
                <span>{{ orderPlan['합계발주금액'] | number }}원</span>
            </section>
        }

        <section class="fields">
            <h3>담당부서 정보</h3>
            <legend>담당부서명</legend>
            <span>{{ orderPlan['부서명'] }}</span>
            <legend>담당자</legend>
            <span>{{ orderPlan['담당자명'] }}</span>
            <legend>전화번호</legend>
            <span>{{ orderPlan['전화번호'] }}</span>
        </section>
    </div>

    <dialog #keywordModal class="modal">
        <form method="dialog" class="modal-box">
            <h3 class="font-bold text-lg mb-4">키워드 변경</h3>

            <div role="alert" class="alert alert-info alert-soft">
                <span>쉼표 (,)로 구분하세요.</span>
            </div>
            <input
                #inputRef
                type="text"
                placeholder="키워드 입력"
                class="input input-bordered w-full mt-4"
                [value]="orderPlan.keywords.join(', ')"
            />

            <div class="modal-action">
                <button type="button" class="btn" (click)="keywordModal.close()">취소</button>
                <button class="btn btn-primary" (click)="submit(inputRef.value); keywordModal.close()">변경</button>
            </div>
        </form>
    </dialog>
}
