@if ($bid.value(); as data) {
    <div class="container">
        <div class="flex flex-col gap-6 sm:py-15 sm:px-0 p-4">
            <details open class="group flex flex-col border border-zinc-100 rounded-sm p-6 w-full">
                <summary class="cursor-pointer">
                    <div class="flex flex-col gap-3 pb-5 border-b border-zinc-100">
                        <div class="flex items-center justify-between">
                            <div class="flex items-center gap-2">
                                <span class="px-2 py-1 text-sm font-medium text-white bg-blue-500 rounded">{{ data.type }}</span>
                                <span class="px-2 py-1 text-sm font-medium text-blue-500 border-blue-500 border rounded">{{
                                    data['공고종류명']
                                }}</span>
                            </div>
                            <app-bookmark-icon [modelId]="data.id" modelName="입찰공고" />
                        </div>
                        <div class="flex items-center justify-between">
                            <p class="text-xl font-semibold text-zinc-800">{{ data['입찰공고명'] || '-' }}</p>
                            <div class="min-w-max">
                                <app-icon
                                    name="mdi:chevron-down"
                                    class="size-4 text-zinc-400 group-open:rotate-180 transition-transform self-end"
                                />
                            </div>
                        </div>
                    </div>
                </summary>

                <div class="flex flex-col gap-5">
                    <div class="flex flex-col gap-5">
                        <div class="w-full h-px bg-zinc-100"></div>
                        <p class="text-zinc-800 font-semibold">기본정보</p>
                        <div class="flex flex-col gap-4 sm:grid grid-cols-3 gap-y-4 gap-x-8 text-sm">
                            <div class="flex gap-2">
                                <span class="text-gray-500 min-w-max">공고종류</span>
                                <span class="text-zinc-800">{{ data['공고종류명'] || '-' }}</span>
                            </div>
                            <div class="flex gap-2">
                                <span class="text-gray-500 min-w-max">공고일시</span>
                                <span class="text-zinc-800">{{ data['등록일시'] | date: 'yyyy-MM-dd HH:mm' }}</span>
                            </div>
                            <div class="flex gap-2">
                                <span class="text-gray-500 min-w-max">입찰공고차수</span>
                                <span class="text-zinc-800">{{ data['입찰공고차수'] || '-' }}</span>
                            </div>
                            <div class="flex gap-2">
                                <span class="text-gray-500 min-w-max">참조번호</span>
                                <span class="text-zinc-800">{{ data['참조번호'] || '-' }}</span>
                            </div>
                            <div class="flex gap-2">
                                <span class="text-gray-500 min-w-max">공고기관</span>
                                <span class="text-zinc-800">{{ data['공고기관명'] || '-' }}</span>
                            </div>
                            <div class="flex gap-2">
                                <span class="text-gray-500 min-w-max">수요기관</span>
                                <span class="text-zinc-800">{{ data['수요기관명'] || '-' }}</span>
                            </div>
                            <div class="flex gap-2">
                                <span class="text-gray-500 min-w-max">계약방법</span>
                                <span class="text-zinc-800">{{ data['계약체결방법명'] || '-' }}</span>
                            </div>
                            <div class="flex gap-2">
                                <span class="text-gray-500 min-w-max">국제입찰여부</span>
                                <span class="text-zinc-800">{{ data['국제입찰여부'] ? '국외' : '국내' }}</span>
                            </div>
                            <div class="flex gap-2">
                                <span class="text-gray-500 min-w-max">입찰방식</span>
                                <span class="text-zinc-800">{{ data['입찰방식명'] || '-' }}</span>
                            </div>
                            <div class="flex gap-2">
                                <span class="text-gray-500 min-w-max">낙찰방법</span>
                                <span class="text-zinc-800">{{ data['낙찰방법명'] || '-' }}</span>
                            </div>
                            <div class="flex gap-2">
                                <span class="text-gray-500 min-w-max">공고서URL</span>
                                <span class="text-zinc-800 break-all">{{ data['표준공고서URL'] || '-' }}</span>
                            </div>
                            <div class="flex gap-2">
                                <span class="text-gray-500 min-w-max">재입찰허용여부</span>
                                <span class="text-zinc-800">{{ data['재입찰허용여부'] ? '허용' : '불허용' }}</span>
                            </div>
                            <div class="flex gap-2">
                                <span class="text-gray-500 min-w-max">채권자명</span>
                                <span class="text-zinc-800">{{ data['채권자명'] || '-' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </details>

            <div class="gap-5 flex flex-col border border-zinc-100 rounded-sm p-6 w-full">
                <p class="text-zinc-800 font-semibold">입찰정보</p>

                <div class="flex flex-col gap-4 sm:grid grid-cols-3 text-sm">
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">입찰서접수 개시일시</span>
                        @if (data['입찰개시일시']) {
                            <span class="text-zinc-800">{{ data['입찰개시일시'] | date: 'yyyy-MM-dd HH:mm' }}</span>
                        } @else {
                            <span class="text-zinc-800">-</span>
                        }
                    </div>
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">입찰서접수 마감일시</span>
                        @if (data['입찰마감일시']) {
                            <span class="text-zinc-800">{{ data['입찰마감일시'] | date: 'yyyy-MM-dd HH:mm' }}</span>
                        } @else {
                            <span class="text-zinc-800">-</span>
                        }
                    </div>
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">개찰일시</span>
                        @if (data['개찰일시']) {
                            <span class="text-zinc-800">{{ data['개찰일시'] | date: 'yyyy-MM-dd HH:mm' }}</span>
                        } @else {
                            <span class="text-zinc-800">-</span>
                        }
                    </div>
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">입찰참가자격 등록마감일시</span>
                        @if (data['입찰참가자격등록마감일시']) {
                            <span class="text-zinc-800">{{ data['입찰참가자격등록마감일시'] | date: 'yyyy-MM-dd HH:mm' }}</span>
                        } @else {
                            <span class="text-zinc-800">-</span>
                        }
                    </div>
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">공동수급협정서 마감일시</span>
                        @if (data['공동수급협정마감일시']) {
                            <span class="text-zinc-800">{{ data['공동수급협정마감일시'] | date: 'yyyy-MM-dd HH:mm' }}</span>
                        } @else {
                            <span class="text-zinc-800">-</span>
                        }
                    </div>
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">현장(과업)설명장소</span>
                        <span class="text-zinc-800">{{ data['설명회실시장소'] || '-' }}</span>
                    </div>
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">개찰장소</span>
                        <span class="text-zinc-800">{{ data['개찰장소'] || '-' }}</span>
                    </div>
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">실적신청서접수방법명</span>
                        <span class="text-zinc-800">{{ data['실적신청서접수방법명'] || '-' }}</span>
                    </div>
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">설명회실시장소</span>
                        <span class="text-zinc-800">{{ data['설명회실시장소'] || '-' }}</span>
                    </div>
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">현장설명일시</span>
                        <span class="text-zinc-800">{{ data['설명회실시일시'] || '-' }}</span>
                    </div>
                </div>
            </div>

            <div class="gap-5 flex flex-col p-6 w-full">
                <p class="text-zinc-800 font-semibold">관련금액</p>

                <div class="flex flex-col gap-4 sm:grid grid-cols-3 text-sm">
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">배정예산</span>
                        <span class="text-zinc-800">{{ data['배정예산금액'] | number }}원</span>
                    </div>
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">추정가격</span>
                        <span class="text-zinc-800">{{ data['추정가격'] | number }}원</span>
                    </div>
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">부가가치세</span>
                        <span class="text-zinc-800">{{ data['부가가치세'] | number }}원</span>
                    </div>
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">건설산업기본법 적용대상여부</span>
                        <span class="text-zinc-800">{{ data['건설산업법적용대상여부'] ? '대상' : '비대상' }}</span>
                    </div>
                    <div class="flex gap-2">
                        <span class="text-gray-500 min-w-max">상호시장진출 허용여부</span>
                        <span class="text-zinc-800">{{ data['상호시장진출허용여부'] ? '허용' : '불허용' }}</span>
                    </div>
                </div>
            </div>
            <div class="gap-5 flex flex-col p-6 w-full">
                <p class="text-zinc-800 font-semibold">첨부파일</p>
                @for (item of data['공고규격파일명']; track $index) {
                    <div class="divide-y divide-zinc-200 border-y border-zinc-200">
                        <div class="flex items-center justify-between p-4">
                            {{ item }}
                            <app-file-download [url]="data['공고규격서URL'][$index]" [filename]="item">
                                <button class="flex items-center gap-1 border border-zinc-200 rounded-sm px-3 py-1">
                                    <app-icon name="mdi:tray-arrow-down" class="text-zinc-400" size="xs" />
                                    <span class="text-zinc-600">다운로드</span>
                                </button>
                            </app-file-download>
                        </div>
                    </div>
                }
            </div>

            <div class="flex justify-center w-full py-6">
                <button (click)="location.back()" class="border border-e-zinc-200 rounded-sm py-2 w-full sm:w-75">목록으로</button>
            </div>
        </div>
    </div>
}
